---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="my-[140px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="We will get back at you soon"
    />
    <Form />
  </div>
</Section>
