---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@components/landing/Hero.astro";
import Services from "@components/landing/Services.astro";
import Tagline from "@components/landing/Tagline.astro";
import WorkPreview from "@components/landing/WorkPreview.astro";
import Faq from "@components/landing/Faq.astro";
import type { AstroSeoProps } from "@astrolib/seo";

const seo: AstroSeoProps = {
  title: "APEXAI Solutions: Custom AI Platforms & Innovative Web Applications",
  description: "APEXAI builds intelligent AI-driven web platforms, custom AI solutions, and offers MLOps & data engineering. Transform your business with our cutting-edge technology.",
  openGraph: {
    title: "APEXAI Solutions: Custom AI Platforms & Innovative Web Applications",
    description: "APEXAI builds intelligent AI-driven web platforms, custom AI solutions, and offers MLOps & data engineering. Transform your business with our cutting-edge technology.",
  }
};
---

<BaseLayout seo={seo}>
	<Hero />
  <h1 class="text-4xl lg:text-6xl font-bold text-center mb-8">Our work preview</h1>
	<WorkPreview class="!pt-20 pb-20 lg:!pt-36 lg:pb-40" />
	<Services />
	<Tagline />
	<Faq />
</BaseLayout>