---
import BlobCursorFollower from "@/components/global/BlobCursorFollower.astro";
import { AstroSeo, type AstroSeoProps } from "@astrolib/seo";
import BaseHead from "@components/BaseHead.astro";
import BackgroundTexture from "@components/global/BackgroundTexture.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";
import WhatsAppButton from "@/components/global/WhatsAppButton.astro";

const { pathname } = Astro.url;

type Props = {
	seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const shareImage = new URL("/images/meta/APEXAI_share.gif", Astro.site).toString();

const defaultSeo: AstroSeoProps = {
	title: "APEXAI Solutions | Innovative AI Platforms & Web Applications",
	description:
		"APEXAI Solutions specializes in custom AI-driven platforms, MLOps, data engineering, and advanced web applications to empower businesses.", // Generic fallback description
	openGraph: {
		title: "APEXAI Solutions | Innovative AI Platforms & Web Applications",
		description:
			"APEXAI Solutions specializes in custom AI-driven platforms, MLOps, data engineering, and advanced web applications to empower businesses.", // Fallback OG description
		images: [
			{
				url: shareImage,
				width: 1200,
				height: 630,
				alt: "APEXAI Solutions Social Share Graphic",
				type: "image/gif",
			},
			{
				url: new URL("/images/meta/APEXAI_og_default.png", Astro.site).toString(),
				width: 1200,
				height: 630,
				alt: "APEXAI Solutions Logo and Tagline",
				type: "image/png",
			},
		],
		site_name: "APEXAI Solutions",
	},
	twitter: {
		handle: "@APEXAIstudio",
		site: "@APEXAIstudio",
		cardType: "summary_large_image",
	},
	additionalMetaTags: [
		{
			name: "publisher",
			content: "APEXAI Solutions",
		},
	],
};

const seo = {
	...defaultSeo,
	...seoProp,
	openGraph: {
		...defaultSeo.openGraph,
		...(seoProp?.openGraph || {}),
		images: seoProp?.openGraph?.images?.length ? seoProp.openGraph.images : defaultSeo.openGraph.images,
	},
};

function cursorFollowerActive() {
	const paths = ["", "/", "/it/", "/it"];
	return paths.includes(pathname);
}
---

<html lang={lang}>
	<head>
		<BaseHead />
		<AstroSeo {...seo} />
	</head>
	<body class="bg-slate-50">
		<BackgroundTexture />
		<Navigation />
		{cursorFollowerActive() && <BlobCursorFollower />}
		<slot />
		<Footer />
		<WhatsAppButton />
	</body>
</html>